html, body {
    margin: 0;
    padding: 0;
}

html {
    background: #969696;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

h2 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
    padding: 0;
    margin: 0;
}

a:hover {
    color: red;
    text-decoration: underline;
}

.header, .sidebar , .main, .footer, .content, .container {
    padding: 1rem;
    border-radius: 0.5rem;
    /*https://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.50);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.50);
}

.viewport {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    background-image: url("https://github.com/TVT23KMO-R14/etuSivuMockup/blob/main/img/bluebg4096x4096.png?raw=true");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(108,121,197,.3);
    gap: 1rem;
    padding: 1rem;
    max-width: 80rem;
}

.container .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #ffffff;
    flex: 0 0 4rem;
}

.container .sidebar {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: #ffffff;
    flex: 0 0 10rem;
}

.container .main {
    display: flex;
    justify-content: start;
    gap: 1rem;
    flex-direction: row;
    background: rgba(58, 81, 211, 0.3);
    flex: 1;
}

.container .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #ffffff;
    flex: 0 0 4rem;
}



.container .content {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: #ffffff;
    flex: 1;
}

@media screen and (max-width: 768px) {

    .container .main {
        flex-direction: column;
    }

    .container .header {
        justify-content: left;
    }

    .container .footer {
        justify-content: right;
    }

    .container .sidebar {
        flex-direction: row;
        flex-wrap: wrap;
        flex: 0 1 auto;
        margin: 0;
        padding: 0,5rem;
        align-items: center;
        justify-content: center;
    }

    a {
        padding: 0 0 0 1rem;
    }

    .container .content {
        flex: 1 1 auto;
    }
}