html, body {
    margin: 0;
    padding: 0;
}

html {
    background: #969696;
    font-family: Arial, sans-serif;
    font-size: 12pt;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: #000;
    padding: 0;
    margin: 0;
}

a:hover {
    color: red;
    text-decoration: underline;
}

.imgcarousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #ffffff;    
}

.imgcarousel .overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgcarousel img {
    width: 95%;
    object-fit: cover;
}

.movies {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 1rem;
    /*https://www.cssmatic.com/box-shadow*/
}

.header, .sidebar , .main, .footer, .content, .container, .movies, .imgcarousel{
    padding: 1rem;
    border-radius: 0.5rem;
    /*https://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.50);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.50);
}

.viewport {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    background-image: url("https://github.com/TVT23KMO-R14/etuSivuMockup/blob/main/img/bluebg4096x4096v5.jpg?raw=true");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(108,121,197,.3);
    gap: 1rem;
    padding: 1rem;
    max-width: 70rem;
}

.container .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #ffffff;
    flex: 0 0 4rem;
}

.container .sidebar {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: #ffffff;
    flex: 0 0 10rem;
}

.container .main {
    display: flex;
    justify-content: start;
    gap: 1rem;
    flex-direction: row;
    background: rgba(58, 81, 211, 0.3);
    flex: 1;
}

.container .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #ffffff;
    flex: 0 0 4rem;
}

.container .content {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: rgba(12, 42, 211, 0.3);
    padding: 1rem;
    gap: 1rem;
    flex: 1;
}

@media screen and (max-width: 800px) {

    html {
        font-size: 10pt;
    }

    .container .main {
        flex-direction: column;
    }

    .container .header {
        justify-content: left;
    }

    .container .footer {
        justify-content: right;
    }

    .container .sidebar {
        flex-direction: row;
        flex-wrap: wrap;
        flex: 0 1 auto;
        margin: 0;
        padding: 0,5rem;
        align-items: center;
        justify-content: center;
    }

    .container a {
        padding: 0 0 0 1rem;
    }

}