html, body {
    margin: 0;
    padding: 0;
}

html {
    background: #969696;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body {
    display: flex;
}

h2 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
    padding: 0;
    margin: 0;
}

a:hover {
    color: red;
    text-decoration: underline;
}

/* Path: css/style.css */

.viewport {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(145, 144, 91);
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(156, 113, 72);
    gap: 1rem;
    padding: 1rem;
    max-width: 80rem;
    border-radius: 0.5rem;
}

.container .header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: #ffffff;
}

.container .main {
    display: flex;
    justify-content: start;
    gap: 1rem;
    flex-direction: row;
    background: #854949;
    flex: 1;
}

.container .footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: #ffffff;
}

.container .sidebar {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: #ffffff;
    flex: 0 0 10rem;
}

.container .content {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: #ffffff;
    flex: 1;
}

@media screen and (max-width: 768px) {

    .container .main {
        flex-direction: column;
    }

    .container .header {
        justify-content: left;
    }

    .container .footer {
        justify-content: right;
    }

    .container .sidebar {
        flex-direction: row;
        flex-wrap: wrap;
        flex: 0 1 auto;
        margin: 0;
        padding: 0,5rem;
        align-items: center;
        justify-content: center;
    }

    a {
        padding: 0 0 0 1rem;
    }

    .container .content {
        flex: 1 1 auto;
    }
}


.header, .sidebar , .main, .footer, .content {
    background: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}